@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-size:100px; color:gold; margin:10px;"> Cinema City </h1>
    <p style="font-size:30px; color:gold;"><em>Movies? Actors? We have them all here at Cinema City. Here you will find everything you need to know about cinema</em></p>
   
</div>
<style>
    body
    {
        background-image: url("https://images2.alphacoders.com/789/789853.jpg"); 
    }
</style>
